<a href="a">A</a> &middot;
<a href="b">B</a> &middot;
<a href="c">C</a> &middot;
<a href="d">D</a> &middot;
<a href="e">E</a> &middot;
<a href="f">F</a> &middot;
<a href="g">G</a> &middot;
<a href="h">H</a> &middot;
<a href="i">I</a> &middot;
<a href="j">J</a> &middot;
<a href="k">K</a> &middot;
<a href="l">L</a> &middot;
<a href="m">M</a> &middot;
<a href="n">N</a> &middot;
<a href="o">O</a> &middot;
<a href="p">P</a> &middot;
<a href="q">Q</a> &middot;
<a href="r">R</a> &middot;
<a href="s">S</a> &middot;
<a href="t">T</a> &middot;
<a href="u">U</a> &middot;
<a href="v">V</a> &middot;
<a href="w">W</a> &middot;
<a href="x">X</a> &middot;
<a href="y">Y</a> &middot;
<a href="z">Z</a>
