<a href="{{ if eq .Type "ralpha" }}../{{ else }}{{ end }}a">A</a> &middot;
<a href="{{ if eq .Type "ralpha" }}../{{ else }}{{ end }}b">B</a> &middot;
<a href="{{ if eq .Type "ralpha" }}../{{ else }}{{ end }}c">C</a> &middot;
<a href="{{ if eq .Type "ralpha" }}../{{ else }}{{ end }}d">D</a> &middot;
<a href="{{ if eq .Type "ralpha" }}../{{ else }}{{ end }}e">E</a> &middot;
<a href="{{ if eq .Type "ralpha" }}../{{ else }}{{ end }}f">F</a> &middot;
<a href="{{ if eq .Type "ralpha" }}../{{ else }}{{ end }}g">G</a> &middot;
<a href="{{ if eq .Type "ralpha" }}../{{ else }}{{ end }}h">H</a> &middot;
<a href="{{ if eq .Type "ralpha" }}../{{ else }}{{ end }}i">I</a> &middot;
<a href="{{ if eq .Type "ralpha" }}../{{ else }}{{ end }}j">J</a> &middot;
<a href="{{ if eq .Type "ralpha" }}../{{ else }}{{ end }}k">K</a> &middot;
<a href="{{ if eq .Type "ralpha" }}../{{ else }}{{ end }}l">L</a> &middot;
<a href="{{ if eq .Type "ralpha" }}../{{ else }}{{ end }}m">M</a> &middot;
<a href="{{ if eq .Type "ralpha" }}../{{ else }}{{ end }}n">N</a> &middot;
<a href="{{ if eq .Type "ralpha" }}../{{ else }}{{ end }}o">O</a> &middot;
<a href="{{ if eq .Type "ralpha" }}../{{ else }}{{ end }}p">P</a> &middot;
<a href="{{ if eq .Type "ralpha" }}../{{ else }}{{ end }}q">Q</a> &middot;
<a href="{{ if eq .Type "ralpha" }}../{{ else }}{{ end }}r">R</a> &middot;
<a href="{{ if eq .Type "ralpha" }}../{{ else }}{{ end }}s">S</a> &middot;
<a href="{{ if eq .Type "ralpha" }}../{{ else }}{{ end }}t">T</a> &middot;
<a href="{{ if eq .Type "ralpha" }}../{{ else }}{{ end }}u">U</a> &middot;
<a href="{{ if eq .Type "ralpha" }}../{{ else }}{{ end }}v">V</a> &middot;
<a href="{{ if eq .Type "ralpha" }}../{{ else }}{{ end }}w">W</a> &middot;
<a href="{{ if eq .Type "ralpha" }}../{{ else }}{{ end }}x">X</a> &middot;
<a href="{{ if eq .Type "ralpha" }}../{{ else }}{{ end }}y">Y</a> &middot;
<a href="{{ if eq .Type "ralpha" }}../{{ else }}{{ end }}z">Z</a>
